[Unit]
Description=krustlet
Requires=network.target
After=syslog.target network.target
[Service]
Type=forking
EnvironmentFile=/etc/sysconfig/krustlet
ExecStart={{krustlet_installation}/krustlet-wasi --node-ip {{ ansible_default_ipv4.gateway }} --node-name={{ansible_hostname}} --bootstrap-file=${HOME}/.krustlet/config/bootstrap.conf
#ExecStop
User=krustlet
PIDFile={{krustlet_installation}}/krustlet.pid
Environment="KRUSTLET_PID_FILE_PATH={{krustlet.installation_path}}/krustlet.pid"
[Install]
WantedBy=multi-user.target
